:root {
    --primary-color: #005f73;
    --dark-color: #2c3e50; /* Cor escura para o menu lateral */
    --white-color: #ecf0f1; /* Cor branca para o texto */
    --secondary-color: #3498db; /* Cor secundária para destaques */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
/* Corpo */
body {
    font-family: Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Cabeçalho */
header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Conteúdo Principal */
main {
    padding: 60px 20px 0;
    margin-top: 60px; /* Ajuste para evitar sobreposição com o cabeçalho fixo */
    width: 100%;
  }

/* Navegação */
nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--white-color);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
}

/* Seções */
section {
    padding: 20px 0;
    text-align: center;
}

/* Botões */
button,
.btn-ferramenta {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

button:hover,
.btn-ferramenta:hover {
    background-color: var(--secondary-color);
}

/* Formulário */
form {
    max-width: 500px;
    margin: auto;
    text-align: left;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form textarea {
    resize: vertical;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
}

table th {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Rodapé */
footer {
    background-color: var(--dark-color);
    color: var(--white-color);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Oculto */
.hidden {
    display: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .menu-lateral {
        width: 100%;
        left: -100%;
    }

    .menu-lateral.ativo {
        left: 0;
    }

    .status-item,
    .btn-ferramenta {
        width: 80%;
    }
}