/* Variáveis de Cor */
:root {
    --dark-color: #2c3e50; /* Cor escura para o menu lateral */
    --white-color: #ecf0f1; /* Cor branca para o texto */
    --secondary-color: #3498db; /* Cor secundária para destaques */
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo */
}

main {
    padding-top: 4px;
}

/* Título do cabeçalho */
#title-header {
    font-size: 1.8em;
    text-align: center; /* Centraliza o título */
    color: var(--white-color); /* Cor do texto */
}

/* Menu */
.menu-hamburguer {
    font-size: 28px;
    cursor: pointer;
    margin-right: 18px;
}

.menu-fechar {
    all: unset;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 15px;
}

/* Menu lateral */
.menu-lateral {
    position: fixed;
    padding: 0 10px;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    overflow-y: auto;
    transition: left 0.3s ease;
    padding-top: 100px;
    z-index: 999;
}

.menu-lateral.ativo {
    left: 0;
}

.menu-lateral ul {
    list-style: none;
    padding: 0 8px;
}

.menu-lateral ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.menu-lateral ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu-lateral ul li a {
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 0;
    display: block;
    transition: background-color 0.3s;
    border-radius: 5px; /* Arredonda os cantos */
}

.menu-lateral ul li a:hover {
    background-color: var(--secondary-color);
}

/* Boas-vindas */
.welcome-quote {
    text-align: center;
    font-size: 1.6em;
    margin: 20px 0; /* Margem para espaçamento */
}

/* Títulos de seções */
.section-title {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0;
    position: relative;
    color: var(--dark-color);
}

.section-title::after {
    content: "";
    display: block;
    width: 25%;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 10px auto;
}

/* Status do Rebanho */
.status-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.status-item {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Adiciona sombra ao hover */
}

.status-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

/* Estilo do Formulário */
.form-group {
    margin-bottom: 15px; /* Espaçamento entre os grupos */
}

input[type="date"],
input[type="number"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 18px; /* Efeitos de transição */
}

button:hover {
    background-color: darken(var(--secondary-color), 10%); /* Cor de fundo ao passar o mouse */
    transform: scale(1.05);
    color: #2c3e50;
    border: 2px solid #2c3e50;
    border-radius:2px solid #2c3e50; /* Aumenta ligeiramente o botão ao passar o mouse */
}

#productionForm {
    margin-bottom: 40px;
}

/* Tabela de Produção */
#productionTable {
    width: 100%;
    border-collapse: collapse; /* Remove espaçamento entre células */
    margin-top: 20px;
}

#productionTable th,
#productionTable td {
    border: 1px solid #ddd; /* Borda para células */
    padding: 8px;
    text-align: center; /* Alinhamento central */
}

#productionTable th {
    background-color: var(--secondary-color);
    color: white; /* Cor do texto do cabeçalho */
}

.status-item img {
    width: 60px;
    margin-bottom: 8px;
}

.btn-container {
    padding: 8px;
    margin: 8px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.menu-lateral ul {
    list-style: none;
    padding: 0 8px;
}

.menu-lateral ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.menu-lateral ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu-lateral ul li a {
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 0;
    display: block;
    transition: background-color 0.3s;
    border-radius: 5px; /* Arredonda os cantos */
}

.menu-lateral ul li a:hover {
    background-color: var(--secondary-color);
}